/*
  1. Use a more-intuitive box-sizing model.
*/
h1 {
  margin: 0;
}
:root {
  --primary-color1: #4b49ac;
  --primary-color2: #98bdff;
  --secondary-color1: #7da0fa;
  --secondary-color2: #7978e9;
  --secondary-color1: #f3797e;
  --neutral-color1: #ffff;
  --neutral-color2: #111031;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* LAYOUT */
body {
  min-height: 100vh;

  display: grid;
  grid-template-columns: minmax(300px, 1fr) repeat(3, minmax(min-content, 1fr)) 300px;
  grid-template-rows: 1fr;

  grid-template-areas:
    "sidebar header header header header"
    "sidebar main main main main-sidebar "
    "sidebar main main main main-sidebar"
    "sidebar main main main main-sidebar"
    "sidebar main main main main-sidebar";
}
.header {
  grid-area: header;
  background-color: var(--neutral-color1);
  box-shadow: 0px 4px 8px rgb(174, 169, 169);
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px 64px;
  min-width: max-content;
}

.sidebar {
  /* width: 100%; */
  padding: 24px;
  height: 100%;
  grid-area: sidebar;
  background-color: var(--primary-color1);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 72px;
  z-index: 2;
}
.main,
.main-grid {
  height: 100%;
  grid-area: main;
  width: 1fr;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: max-content;
  grid-auto-rows: max-content;

  background-color: #e8e8f6;
  gap: 16px;
}
.main {
  display: flex;
  flex-direction: column;
  padding: 16px;
  /* overflow: scroll; */
}

.main-sidebar {
  grid-area: main-sidebar;
  background-color: #e8e8f6;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  /* overflow-y: scroll; */
}

/* Children */
.card {
  background-color: var(--neutral-color1);
  width: 100%;
  padding: 32px;
  /* height: 40%; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  border-left: 8px solid rgb(219, 40, 255);
  box-shadow: 0px 2px 8px rgb(174, 169, 169);
}
.card-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}
.card-buttons svg {
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.first-menu,
.last-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-top {
  display: flex;
  justify-content: space-between;
}
.left-links,
.right-links {
  display: flex;
  gap: 16px;
}
.left-links {
  flex: 1;
}
.search-bar {
  background-color: #abaaec;
  height: 24px;
  width: 50%;
  border-radius: 90px;
}

.profile {
  background-color: #98bdff;
  border-radius: 999px;
  height: 100%;
  width: 25px;
}
.header-bottom .profile {
  width: 60px;
  height: 60px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  /* background-color: #111031; */
  align-items: center;
}
.person-greeting {
  display: flex;
  gap: 16px;
  flex: 1;
}

.header button {
  outline: none;
  background-color: #7978e9;
  color: white;
  border: none;
  border-radius: 88px;
  padding: 8px 24px;
}
.user-actions {
  display: flex;
  gap: 8px;
}

.sidebar-top,
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.announcement {
  background-color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 16px;
}
.divider {
  height: 1px;
  width: 100%;
  background-color: #111031;
}

.tag {
  display: flex;
  gap: 8px;
  align-items: center;
}
.tag .profile {
  height: 30px;
  width: 30px;
}

.trending {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: white;
  border-radius: 16px;
  padding: 8px 16px;
}
